<p>nutrients works!</p>
<button mat-button (click)="onAddNew()">Add new</button>
<button mat-button (click)="onEdit()">Edit</button>
<button mat-button (click)="onDelete()">Delete</button>

<table
    mat-table
    *ngIf="dataSource"
    [dataSource]="dataSource"
    class="mat-elevation-z8"
>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>name</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.name }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>type</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.type }}</td>
    </ng-container>
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>amount</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.amount }}</td>
    </ng-container>

    <ng-container matColumnDef="kcal">
        <th mat-header-cell *matHeaderCellDef>kcal</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.kcal }}</td>
    </ng-container>

    <ng-container matColumnDef="protein">
        <th mat-header-cell *matHeaderCellDef>protein</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.protein }}</td>
    </ng-container>

    <ng-container matColumnDef="carbohydrate">
        <th mat-header-cell *matHeaderCellDef>carbohydrate</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.carbohydrate }}</td>
    </ng-container>

    <ng-container matColumnDef="saturatedFat">
        <th mat-header-cell *matHeaderCellDef>saturatedFat</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.saturatedFat }}</td>
    </ng-container>

    <ng-container matColumnDef="unsaturatedFat">
        <th mat-header-cell *matHeaderCellDef>unsaturatedFat</th>
        <td mat-cell *matCellDef="let nutrient">
            {{ nutrient.unsaturatedFat }}
        </td>
    </ng-container>

    <ng-container matColumnDef="sugar">
        <th mat-header-cell *matHeaderCellDef>sugar</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.sugar }}</td>
    </ng-container>

    <ng-container matColumnDef="salt">
        <th mat-header-cell *matHeaderCellDef>salt</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.salt }}</td>
    </ng-container>

    <ng-container matColumnDef="fiber">
        <th mat-header-cell *matHeaderCellDef>fiber</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.fiber }}</td>
    </ng-container>

    <ng-container matColumnDef="packageSize">
        <th mat-header-cell *matHeaderCellDef>packageSize</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.packageSize }}</td>
    </ng-container>

    <ng-container matColumnDef="packagePrice">
        <th mat-header-cell *matHeaderCellDef>packagePrice</th>
        <td mat-cell *matCellDef="let nutrient">{{ nutrient.packagePrice }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="onRowSelection(row)"
        [ngClass]="{ highlight: row == selectedRow }"
    ></tr>
</table>
